.btn {
    width: 100%;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 24px;
    color: #000;
    background: #026970;
    border-radius: 13px;
    box-shadow: 0px 3px 13px 0px rgba(1, 2, 2, 0.17);
}
